@model CheeseMVC.ViewModels.AddMenuItemViewModel

@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}

<h1>@ViewBag.Title</h1>
<form asp-controller="Menu" asp-action="AddItem" method="post">


    <div class="form-group">
        <label asp-for="@Model.cheeseID"></label>
        <select asp-for="@Model.cheeseID" asp-items="@Model.Cheeses"></select>
    </div>
    <input type="hidden" name="MenuID" value="@Model.Menu.ID" />

    <input type="submit" value="Add Cheese" />

</form>